/*===========================================================================*/
/*                              Misc Widgets                                 */
/*===========================================================================*/

QSizeGrip {
  background: transparent;
  margin: 2px;
  background-image: url(:/image/common/icons/corner.png);
}
