
/****** DEFAULT ************/
* {
    color: ;
    background: ;
    font: 10pt DejaVuSans }

/****** BUTTONS ************/
QPushButton {
    color: ;
    background: ;
    border: 1px solid ;
    border-radius: 4px;
}

/****** SLIDER ************/
QSlider::groove:horizontal {
    background: gray;
    border-radius: 4px;
    height: 20px }

QSlider::handle:horizontal {
    background: ;
    border: 0px solid ;
    border-radius: 4px;
    width: 24px }

QSlider::handle:horizontal:disabled {
    background:  }

QSlider::add-page:horizontal {
    background: ;
    border: 1px solid ;
    border-radius: 4px }

QSlider::sub-page:horizontal {
    background: ;
    border: 1px solid ;
    border-radius: 4px }

Line {
    color: red;
    background: red }

QCheckBox {
    spacing: 20px }

QCheckBox::indicator {
    border: 1px solid ;
    border-radius: 4px;
    width: 20px;
    height: 20px }

QCheckBox::indicator:pressed {
    background:  }

QCheckBox::indicator:checked {
    background:  }

QCheckBox::indicator:checked:pressed {
    background:  }
